<h1> Your Units </h1> 

    <strong> Name </strong> 
    <strong> Description </strong> 

<% if @units then%>
<% @units.each do |unit| %> 
    <%= div_for unit do %> 
    <p> 
        <div class = "actions">
<%= image_tag unit.photo.url(:thumb) %>
<%= link_to unit.name, edit_unit_path(unit) %>
<%= unit.descr %>
<%= link_to 'Destroy', unit_path(unit), class: "button alert", method: :delete, remote: true%> 
    </p>
    </div>
<% end %>
<% end %>
<% else %> 
You don't seem to have any units to show
<% end %> 
