
<h1> New Unit </h1>
<%= form_for :unit, url: units_path do |f| %> 
<p> 
    <%= f.label :name %> 
    <%= f.text_field :name %> 
</p> 
<p> 
    <%= f.label :descr %> 
    <%= f.text_field :descr %> 
</p> 
<p>
<%= f.submit %> 
</p> 
<% end %> 
